<%= partial "page/page-header" %>

	<div class="container">

		<%= partial "layout/layout-header" %>
			
			<section class="main" role="main">

    			<%= yield %>
    		
    		</section>

    	<%= partial "layout/layout-footer" %>

    </div>

<%= partial "page/page-footer" %>